/*#removeDino {
    background-color: #cc0000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    border: 1px solid red;
}

#promoteDino {
    background-color: #009900; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    border: 1px solid green;
}*/


.dino.template {
    visibility: hidden;
}

.actions {
    float: right;
}

.dino {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    padding: 0.75rem 1.25rem;
}

.dino + .dino {
    border-top: none;
}

.dino-name {
    flex-grow:1;
}

.actions.button-group {
    margin-bottom: 0;
}